<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClickHomeReturnTop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAFEFA751C3CAD91004E8292</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAFEFA8E1C3CAD92004E8292</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAFEFA991C3CAD92004E8292</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
